section.welcome {
	display: flex;
	background-color: var(--welcomeCanvas);
}

inner-column.welcome {
	display: flex;
	flex-direction: column;
}

div.text {
	display: flex;
	flex-direction: column;
	gap:  20px;

}

div.text * {
	border: 3px solid black;
	padding: 10px;
}


div.image {
	border: 3px solid black;
	padding: 10px;
}


@media (min-width: 700px) {

	inner-column.welcome {
	flex-direction: row-reverse;
	align-items: center;
}

}
