/*DEV*/

* {
  border: 2px dashed red;
}

/** * {
  border: 2px dashed purple;
}

* * *  {
  border: 2px dashed green;
}

* * * * *  {
  border: 2px dashed orange;

}

* * * * * *  {
  border: 5px solid red;
}
*/