footer {
	background-color: var(--footerCanvas);
}

inner-column.footer {
	display: flex;
	flex-direction: column;
	gap:  15px;
	padding: 0px 0px;
}

footer-head {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	gap: 15px;
	padding: 20px 10px;
	/*border: none;*/
}

site-map {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

footer a {
	display: block;
	border: 3px solid black;
	padding: 15px;
	width: 20ch;
}