/* Typography */
p {
	max-width:75ch;
	line-height: 1.4;
}

.note {
	color: #888;
	font-size: .75rem;
}



.subheader {
	color: #888;
}

h1{
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
}

.processor-label {
	font-size: 1.25rem;
}