






/*sticky header with shadow*/
.site-header{
	position: sticky;
	top: 0;
	box-shadow: 0 2px 5px 5px rgba(0,0,0,.4);
}



/*TYPOGRAPHY*/



hS{
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}

/*less padding on sticky header*/
.site-header .inner-column{
	padding-top: .75rem;
	padding-bottom: .75rem;
}

/*.page-header, section{
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}*/




h1{
	font-family: 'DM Serif Display', serif;
	letter-spacing: .1rem;
	font-size: 4rem;
	/*margin-top: 0.67rem;*/
	/*margin-bottom: 0.67rem;*/
	font-weight: bold;
}

h2{
	font-family: 'DM Serif Display', serif;
	font-size: 3rem;
	/*margin-top: 1.5rem;*/
	margin-bottom: 1.5rem;
	font-weight: bold;
}

h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.about h3{
	margin-top: 3rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  font-weight: regular;
}

p{
	font-size: 1rem;
	line-height: 1.4;
	font-family: 'Source Sans Pro', sans-serif;
}

p+p{
	margin-top:  1rem;
}

p + picture{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 + p{
	/*margin-top: 20px;*/
}

h2 + p{
	/*margin-top: 20px;*/
}

li{
	line-height: 1.5rem;
}

li a{
	display: inline;
}

ul + p, ol + p{
	margin-top: 1rem;
}


/*LINKS*/

/*global link reset*/
a{
	display: block; /*set links as blocks so they can wrap around things*/
	text-decoration: none;
	color: inherit;
}

/*paragraph links*/
p a{
	display: inline-block;
	text-decoration: none;
	--link-ink: hsla(225, 96%, 18%, 1.00);
	color: var(--link-ink);
  box-shadow: inset 0px -2px var(--link-ink);
  transition-duration: .5s;
  font-family: 'Source Sans Pro', sans-serif;
}

p a:hover{
	color: var(--canvas);
	background-color: var(--link-ink);
	transition-duration: .5s;
}


/*IMAGES*/

/*use "picture" parent element*/
/*limit size and center by default*/
picture{
	display: block;
	max-width: 100%;
	height: auto;
}

/*images and svgs fill parent container*/
img, svg{
	display: block;
	width: 100%;
	height: auto;
}

social a{
	width: 50px;
}
