
main.resume {
	display: flex;
} 

resume {
	flex-grow: 1;
	display: grid;
	gap: 20px;
}

.child {
	display: block;
	padding: 20px;
}

resume sidebar {
	display: contents;
}


resume .child:is(.info, .tools, .certificates){
	background-color: var(--neutral);
	/*color: var(--white);*/
}

resume .child.info {
	order: 1;
	background-color: var(--neutral);
	color: var(--ink);
}

resume .child.info a{
	color: var(--ink);
	font-weight: normal;
}

resume .child.content {
	order: 2;
	padding: 30px 10px;
}

resume .child.tools {
	order: 3;
}

resume .child.certificates {
	order: 4;
}

resume .child.content {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

resume .summary {
	background-color: var(--neutral);
	padding: 20px;
}

resume .summary h2 {
	display: none;
}

resume .summary h2 + p {
	margin-top: 0px;
}

resume h3 {
	font-weight: bold;
	padding: 5px 0px;
	color: var(--neutral-dark);
}

resume :is(work-experience, education) {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

resume :is(jobs, schools) {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

resume ul {
	margin-top: 15px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

resume li {
	list-style-type: square;
	line-height: 1.2;
}

@media (min-width: 700px) {
	resume {
		grid-template-column: 1fr 11fr;
	}

	resume sidebar {
		display: block;
		color: white;
		background-color: var(--color1);
	}

	resume .child:is(.info, .tools, .certificates){
		background-color: var(--color1);
		color: var(--white);
}

resume .child.info a{
	color: var(--white);
}

	resume .info {
		grid-column: 1 / 2;
	}
	
	resume .content {
		grid-column: 2 / 13;
	}	
}
