/* color sets, site wide spacing (margin, max widths, variables inner-columns if desired) */
html {
	--black: hsl(200 15% 20% / 1); /*new way to write*/
	--white: hsla(0, 0%, 100%, 1);

	--color1: hsla(268, 100%, 59%, 1.00);
	--color1-dark: hsla(268, 100%, 64%, 1.00);

	--color2: hsla(298, 100%, 59%, 1.00);

	--color3: hsla(239, 100%, 59%, 1.00);

	--neutral-lighter: hsla(0, 0%, 98%, 1.00);
	--neutral-light: hsla(0, 0%, 96%, 1.00);
	--neutral: hsla(0, 0%, 94%, 1.00);
	--neutral-dark: hsla(0, 0%, 90%, 1.00);
	--neutral-darker: hsla(0, 0%, 70%, 1.00);

	
	--highlight: hsla(259, 99%, 65%, 1.00);
	--highlight2: hsla(333, 100%, 50%, 1.00);
	--shadow: rgba(0,0,0,.8);

	--corners: 15px; /* or whatevers */

	--shadow: /*1px 1px 2px #666*/;

	--paper: var(--neutral-lighter);
	--ink: var(--black);
}

/*@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral: gray;

		--color: #9ec9eb;
		--highlight: #aadee9;

		--shadow: rgba(0,0,0,.8);

		--corners: 10px; 

		--paper: white;
		--ink: black;
	}
}*/