/*html {
	box-sizing: border-box;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 20px 2px;
}

li.dish {
	display: block;
	border: 1px solid black;
	padding: 10px;
	max-width: 200px;
}

h3 {
	text-transform: capitalize;
}
*/


/* P reset - Meyer reset */
@import 'preset.css';

/* S etup - Box sizing, links, and images */
@import 'setup.css';

/* S etings - Color definitions, corners, dev */
@import 'settings.css';
/*@import 'developer-styles.css';*/

/* S tructure - Display, inner-column, header/footer position */
@import 'structure.css';

/* T ypography - Fonts & spacing */
@import 'typography.css';

/* C omponents */
@import 'components/buttons.css';
@import 'components/forms.css';

/* S tuff (modules) */
@import 'modules/site-header.css';


/* S ections and more stuff (pages) */
@import 'pages/meet.css';
@import 'pages/about.css';


/* Other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
	overflow-x: hidden;
}


/* Inbox for styles to be moved to the correct place (a scratchpad) 
/* Theme styles could go here*/

