.about main inner-column {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	/*background-color: pink;*/
}

.about .about-text {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.about picture {
	height: 400px;
}

.about img {
	object-fit: cover;
	height: 100%;
}

.about text-block {
		max-width: 70ch;
		background-color: var(--neutral);
		padding: 25px;
		/*border: 3px solid var(--highlight);*/

	}

/*@media (min-width: 775px) {
	.about main inner-column {
		display: flex;
		flex-wrap: nowrap;
		gap: 50px;
		align-items: center;
	}

	.about .about-text {
		gap: 75px;
		justify-content: center;
	}

	

	.about picture {
		height: auto;
	}

	.about img {
		object-fit: cover;
		width: none;
		height: none;
	}
}*/