.home .page-header {
	height: 500px;
}

.home text-block {
	max-width: 50ch;
	background-color: var(--neutral);
	padding: 25px;
	/*border: 3px solid var(--neutral-dark);*/
	/*box-shadow: 5px 5px 10px #999;*/
	/*border: 3px solid var(--color1);*/
}

.home .buttons {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 25px 0px;
}
