
main.resume {
	display: flex;
} 

resume {
	flex-grow: 1;
	display: grid;
	gap: 20px;
}

.parent {
	border: 1px solid red;
}

.child {
	border: 1px solid blue;
	padding: 20px;
}

resume .sidebar {
	display: contents;


}

resume .child.info {
	order: 1;
}

resume .child.content {
	order: 2;
}

resume .child.skills {
	order: 3;
}

resume .child.tools {
	order: 4;
}

@media (min-width: 700px) {
	resume {
		grid-template-column: 1fr 2fr;
	}

	resume .sidebar {
		display: block;
		border: 1px solid red;
		color: white;
		background-color: var(--color1);
	}

	resume .info {
		grid-column: 1 / 2;
	}
	
	resume .content {
		grid-column: 2 / 4;
	}	
}
