.card-grid .cards {
	display: grid;
	gap: 50px;
}

.card-grid .card {
	background-color: var(--neutral);
	display: flex;
	flex-direction: column-reverse;
}

.card-grid .card .card-text {
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.card-grid .card {
	color: var(--ink);
}

.card-grid .card:hover {
	color: var(--highlight);
	transition: color .25s, background-color .25s;
	background-color: var(--color1);
	/*border: 1px solid var(--highlight);*/
}


@media (min-width: 600px) {

	.card-grid a {
		max-width: 700px;
	}

	.card-grid .card {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
		height: 200px;
		transition: color 1s;

	}

	.card-grid .card picture {
		width: 100%;
		/*border: 1px solid red;*/
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}

	.card-grid .card img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.card-grid .card .card-text {
		/*border: 1px solid blueviolet;*/
		grid-column: 2 /4;
		grid-row: 1 / 3;
		padding: 20px;
		max-width: 40ch;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}



}

@media (min-width: 950px) { 

	.card-grid .cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.card-grid .card {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
		/*gap: 100px;*/

	}

	.card-grid .card :is(picture, .card-text){
		width: 100%;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.card-grid picture {
		position: relative;
		filter: brightness(30%);
		transition: 1s;
	}

	.card-grid picture:hover {
		filter: brightness(70%);
		transition: 1s;
	}


	.card-grid .card-text {
		z-index: 2;
		pointer-events: none;
		color: var(--white);
		/*background-color: black;*/
	}


	.card-grid .card .attention-voice {
	color: var(--white);
}


	.card-grid .card .card-text  {
		grid-row: 2;
		justify-content: flex-start;
		/*display: block;*/
		align-self: end;
		padding: 30px;
	}

	.card-grid a {
		color: white;
	}
}