.page-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: var(--white);
	height: 300px;
}

.page-header inner-column {
	padding: 0px;
}

.page-header .header-content {
	width: fit-content;
	max-width: 50ch;
}

.page-header .attention-voice {
	color: var(--highlight);
}

.page-header .quiet-voice {
	color: var(--highlight);
	/*width: fit-content;*/
	/*width: auto;*/
	/*text-align: right;*/
}

.page-header h1+h2 {
	margin-top: 15px;
}