.page-header inner-column{
	display: block;
}



.page-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: var(--white);
	height: 350px;
	
}

.page-header inner-column {
	padding: 0px;
}

.page-header .header-content {
	/*width: fit-content;*/
	max-width: 50ch;
	transform: translate(0px, -25px);
	/*display: flex;
	flex-direction: column;
	gap: 15px;
*/}

.page-header .attention-voice {
	color: var(--highlight);
	/*display: inline;*/
}



.page-header h1 + .attention-voice {
     margin-top: 15px; 
}

.page-header .breadcrumbs {
     margin-top: 15px; 
}

@media (max-width: 600px) {
	body:not(.home) .page-header {
		/*justify-content: flex-start;*/
		height: 250px;
		/*padding-top: 60px;*/
	}

	body:not(.home) .page-header .header-content {
		transform: translate(0px, -25px);
	}

	body.style-guide .page-header .header-content {
		transform: translate(0px, -10px);
	}
}