html {
	background-color: hsla(43, 92%, 94%, 1.00);
	color: hsla(225, 62%, 25%, 1.00);
	font-family: sans-serif;
}

.field {
	display: flex;
	flex-direction: column;
}

input {
	margin: 1rem 0rem;
	color: hsla(225, 62%, 25%, 1.00);
	background-color: hsla(226, 61%, 25%, 0.15);
}

textarea {
	margin: 1rem 0rem;
	color: hsla(225, 62%, 25%, 1.00);
	background-color: hsla(226, 61%, 25%, 0.15);
}

button {
	margin: 1rem 0rem;
}
