
project-card {
  display: block;
  /* */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

project-card picture {
  margin-bottom: 25px;
  border-radius: var(--corners);
  overflow: hidden;
}

project-card p {
  margin-bottom: 20px;
}

project-card nav {
  margin-top: auto;
}

project-card a {
  margin-top: 0px;
  color: var(--color);
}
