html {
	--canvas: hsla(43, 92%, 94%, 1.00);
	--ink: hsla(225, 62%, 25%, 1.00);
	--input-color: hsla(226, 61%, 25%, 0.13);
	background-color: var(--canvas);
	color: var(--ink);
	font-family: sans-serif;
	margin: 0rem 1rem;
}

code, pre {
	display: block;
	background-color: black;
	color: lime;
	padding: 4px;
	font-family: monospace;
}

form {
	display: grid;
	gap:  20px;
}

.field {
	display: flex;
	flex-direction: column;
	/*border: red solid 1px;*/
}

label{
	display: block;
	margin: 1rem 0rem;
}

label a {
	text-decoration: underline;
	border: none;
	padding: 0;
}

textarea, input {
	font:  inherit;
	padding: .5rem;
	border: 1px solid grey;
}

input {
	display: block;
	max-width:  60ch;
	color: var(--ink);
	background-color: var(--input-color);
}

textarea {
	display: block;
	max-width:  60ch;
	color: var(--ink);
	background-color: var(--input-color);
}

button {
	font: inherit;
	border-radius: 0;
	margin: 1rem 0rem;
	max-width: 15ch;
}

output {
	display: block;
}

ul {
	list-style-type: none;
	padding-left: 0;

}

li {
	padding: 15px;
}

#gender {
	max-width: 18ch;
}

/*global link reset*/

a{
	display: inline;
	border: 1px solid var(--ink);
	padding: 8px;
	text-decoration: none;
	color: var(--ink);
  /*box-shadow: inset 0px -2px var(--link-ink);*/
  transition-duration: .5s;
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover{
	color: var(--canvas);
	background-color: var(--ink);
	transition-duration: .5s;
	}


