
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

section {
	display: block; /* set sections to block by default, can be changed */
}

inner-column {
	/*display: grid;
	grid-template-columns: repeat(12, 1fr);*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 95%;
	max-width: 1100px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 50px 0px; /* a loose default */
}

/*.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}*/
