
/* COMPONENTS */
.button {
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  letter-spacing: .05em;
  text-decoration: underline;
  padding:  10px 0;
  /* should a link look like a "button" though? */
  display: flex;
  flex-direction: row;
  border: 1px solid var(--ink);
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;

  min-width: 140px;
  text-align: center;

  border-radius: calc( var(--corners) * .5 );
}

.button span {
  width: 100%; /* ? : / */
}

.arrow {
  /* maybe icons in here? Any reusable smaller things */  
}
