
.loud-voice	{
	font-family: sans-serif;
	font-size: clamp(2rem, 5vw, 80px); /* $todo: discuss */
	/*color: orange;*/
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice	{
	font-family: sans-serif;
	font-size: 40px;
	/*color: purple;*/
}

.attention-voice, article :is(h2)	{
	font-family: sans-serif;
	font-size: 2rem;
	/*color: blue;*/
}

.stern-voice, article :is(h3) {
	font-family: sans-serif;
	font-size: 22px;
	/*color: red;*/
}

.calm-voice, 
article :is(p, li), 
.site-menu a {
	font-family: sans-serif;
	font-size: 1rem; /* $todo: discuss */
	line-height: 1.4;
	max-width: 84ch;
	/*color: brown;*/
}

@media (min-width: 700px) {
	.calm-voice, article :is(p, li) {
		font-size: 1.1rem;
	}
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1rem;
}

h1 + p {
	margin-top: 1.4rem;
}

h2 + p {
	margin-top: 1.4rem;
}

article p + :is(ul, ol) {
	margin-top: 2.5rem;
}

article :is( h3 + p ) {
	margin-top: 1rem;
}

article :is( p + h3 ) {
	margin-top: 1rem;
	border: 1px solid red;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}

p {
	hyphens: auto;
}
