.clients inner-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.clients .enhanced-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.clients ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
}

.clients05 li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	max-width: 35%;
	padding: 10px;
}

.clients picture.arrow {
	display: flex;
	align-items: center;

	background-color: var(--button02-hover);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.clients .list-image {
	width: 150px;
}

.clients figcaption {
	margin-top: 25px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 8px;
}

.clients fig-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.clients .quote-author-image {
	width: 40px;
}

/* CLIENTS 03 - Page 2 */
.clients03 li {
	width: 32ch;
	font-size: 40px;
	padding: 20px;
}

.clients03 figcaption {
	flex-direction: row-reverse;
	justify-content: center;
	font-style: normal;
	text-align: left;
	gap: 20px;
}

.clients03 .quote-author {
	color: black;
	font-weight: bold;
	font-size: 18px;
}



/* CUSTOM TYPOGRAPHY */

.clients .enhanced-heading .loud-voice {
	font-size: 48px;
}

.clients blockquote {
	text-transform: capitalize;
}


.clients05 blockquote {
	font-size: 20px;
	text-align: center;
	line-height: 1.4;
	text-transform: capitalize;
}

.clients03 blockquote {
	font-size: 40px;
	text-align: center;
	line-height: 1.4;
}

