.faq inner-column {
	align-items: center;
	gap: 70px;
}


.faq .enhanced-heading {
	max-width: 85ch;
	text-align: center;
}

.faq .details {
	width: 825px;
}

.faq .details summary {
	color: var(--ink);
	font-size: 20px;
	font-weight: 500;
	padding: 20px 15px;
	text-transform: capitalize;
}

.faq .details p {
	padding: 20px 15px;
	color: var(--ink-light);
}

.faq details > summary {
	border-top: none;
	border-bottom: 1px solid var(--border);
	padding-bottom: 10px;
	margin-bottom: 5px;
	list-style-type: none;
}

.faq details {
	position: relative;
}

.faq details > summary:after {
	content: url('../../images/icons/arrows/rightArrowSm.svg');
	position: absolute;
	right: 0px;
}

.faq details[open] > summary:after {
	content: url('../../images/icons/arrows/upArrowSm.svg');
}

/* FAQ02 - PG 2 */
/*.faq02 details > summary {
	border-top: none;
	border-bottom: 1px solid var(--border);
	padding-bottom: 10px;
	margin-bottom: 5px;
	list-style-type: none;
}*/

/*.faq02 details {
	position: relative;
}*/

.faq02 summary span {
	padding-left: 45px;
}

.faq02 details > summary:after {
	content: url('../../images/icons/arrows/plus.svg');
	position: absolute;
	left: 10px;
	top: 17px;
}

.faq02 details[open] > summary:after {
	content: url('../../images/icons/arrows/minus.svg');
}

.faq02 .details p {
	padding: 20px;
	margin-left: 90px;
	border-left: 2px solid var(--color1);
}

.faq01 {
	flex-direction: row;
}

.faq01 :is(.enhanced-heading, .details) {
	max-width: 45%;
}


@media (max-width: 750px) {

	.faq summary span {
		/*display: block;*/
		margin-right: 40px;
		line-height: 1.2;
	}

	.faq :is(.enhanced-heading, .details) {
    	max-width: 95%;
	}

	.faq02 summary span {
		display: block;
		margin-left: 15px;
	}

	}