.faq inner-column {
	align-items: center;
	gap: 70px;
}


.faq .enhanced-heading {
	max-width: 85ch;
	text-align: center;
}

.faq .details {
	width: 825px;
}

.faq .details summary {
	color: var(--ink);
	font-size: 20px;
	font-weight: 500;
	padding: 20px 15px;
	text-transform: capitalize;
}

.faq .details p {
	padding: 20px 15px;
	color: var(--ink-light);
}

.faq details > summary {
	border-top: none;
	border-bottom: 1px solid var(--border);
	padding-bottom: 10px;
	margin-bottom: 5px;
	list-style-type: none;
}

.faq details {
	position: relative;
}

.faq details > summary:after {
	content: url('../../images/icons/arrows/rightArrowSm.svg');
	position: absolute;
	right: 0px;
}

.faq details[open] > summary:after {
	content: url('../../images/icons/arrows/upArrowSm.svg');
}

