.feature inner-column {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
	gap: 60px;
}

.feature .diptych {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	max-width: 45%;
}

.feature .diptych-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
}

.feature06 ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;

	max-width: 45%;
}

.feature li {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.feature06 .list-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 75%;
}

.feature .list-heading {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
}

.feature .list-paragraph {
	color: var(--ink-light);
}

.feature06 .list-image {
	background-color: hsla(221, 89%, 96%, 1.00);
	width: 60px;
	height: 60px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature .list-image img {
	width: auto;
	height: auto;
}


/*FEATURE 05 (PG 2)*/
.feature inner-column.feature05 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
	gap: 60px;
}

.feature05 .diptych {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	padding: 0px;
	gap: 40px;
	max-width: 70%;

}

.feature05 .diptych-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 24px;
	text-align: center;
}

:is(.feature05, .feature01) ol {
	/*border: 1px solid red;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 32px;
}

:is(.feature05, .feature01) li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 25px;
	gap: 22px;
}


.feature05 li {
	border: 1px solid var(--border);
	border-radius: 10px;
}

.feature01 li {
	align-items: center;
	text-align: center;
}


@media (max-width: 600px) {

	.feature .diptych {
		max-width: 95%;
	}

	.feature ol {
		max-width: 95%;
		grid-template-columns: 1fr;
	}

	.feature li {
		/*flex-direction: column;*/
	}

	.feature img {
		width:100%;
		/*border:1px solid red;*/
		
		
	}


}