.feature inner-column {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
	gap: 60px;
}

.feature .diptych {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	max-width: 45%;
}

.diptych-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
}

.feature ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;

	max-width: 45%;
}

.feature li {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.feature .list-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 75%;
}

.feature .list-heading {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
}

.feature .list-paragraph {
	color: var(--ink-light);
}

.feature .list-image {
	background-color: hsla(221, 89%, 96%, 1.00);
	width: 60px;
	height: 60px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature .list-image img {
	width: auto;
	height: auto;
}