footer {
	background-color: var(--color1);
	color: var(--white);
}

footer inner-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
	gap: 10px;
}

footer site-map {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
	gap: 60px;
}

footer site-map li a {
	font-weight: 400;
	color: hsla(222, 90%, 86%, 1.00);
}

footer nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 70px;
}

footer ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 15px;
	width: 160px;
}

footer ul div {
	margin-bottom: 15px;
}

form {
	background-color: var(--color2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px 42px;
	gap: 10px;
	width: 330px;
}

footer .field {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

footer .input-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	/*padding: 0px 0px 0px 15px;*/
	gap: 0px;
	/*border: 1px solid #D6D6D6;*/
	border-radius: 6px;
	overflow: hidden;
}


footer .email-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 40px 0px 15px;
	gap: 56px;
	border: 1px solid #D6D6D6;
	border-right: none;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;

	/*width: 248px;*/
	height: 50px;

}

footer .input-bar img {
	height: 50px;
}

footer .bottom {
	border-top: 2px solid var(--border);
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}


footer nav {
	list-style-type: none;
}

footer .social {
	display: flex;
	flex-direction: row;
	gap: 20px;
}