header {
	border-bottom: 1px solid var(--border);	
}

header inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	/*border: 3px solid green;*/

	padding: 22px 0px;
}

header .light-nav {
	background-color: var(--white);
}

header .dark-nav {
	background-color: var(--color1);
}

header .logo {
	max-width: 150px;
}

header .light-nav .logo path {
	fill: var(--color1);
}

header .dark-nav .logo path {
	fill: var(--white);
}

header nav {
	display: flex;
	gap: 20px;
}

header .lang svg {
	width: 24px;
}

header language {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	justify-content: flex-start;
	align-items: center;
	gap: 7px;
}

header .dark-nav language {
	color: white;
}

header .light-nav a {
	color: var(--ink);
}

header .dark-nav a {
	color: var(--white);
}

header .light-nav a:hover {
	color: var(--color1);
}

header .dark-nav a:hover {
	color: var(--ink);
}

header .light-nav .lang path {
	stroke: var(--ink);
}

header .dark-nav .lang path {
	stroke: var(--white);
}

header .dark-nav .lang char path {
	stroke: red;
	fill: var(--white);
}

header .right-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

header .light-nav .button {
	color: var(--white);
}

header .light-nav .button:hover {
	color: var(--white);
}

header .dark-nav .button {
	color: var(--color1);
	background-color: var(--white);
}

header .dark-nav .button:hover {
	color: var(--color1);
	background-color: var(--button02-hover);
}

header .nav06 .button02 {
	color: var(--color1);
}

header .nav06 .button02:hover {
	color: var(--color1);
}

@media (max-width: 700px){
header inner-column {
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;
}
}