

.hero .button {
	padding: 15px 65px;
	text-transform: capitalize;
}

.hero form {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.hero .email-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 40px 0px 50px;
	gap: 56px;
	border: 1px solid #D6D6D6;
	border-radius: 6px;
	width: 325px;

	/*width: 248px;*/
	height: 50px;
	background-image: url(../../images/icons/email.svg);
	background-position: 5% 44%;
	background-repeat: no-repeat;
	background-color: var(--color2);
	color: var(--white);
	font-size: 16px;
}

.hero form button {
	border-radius: 6px;
	font-size: 16px;
	padding: 0px 20px;
}

.hero .email-input::placeholder {
	color: white;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}


.hero inner-column {
	gap: 35px;
}

.hero text-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero nav {
	display: flex;
	flex-direction: row;
	gap: 25px;
	/*padding-top: 35px;*/
	align-items: center;
	justify-content: center;
}

/* HERO 04 */
.s-hero04 {
	background-image: url("../../images/backgrounds/diagonal-lines.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.s-hero05 {
	background-image: url("../../images/backgrounds/diagonal-lines-cutout.svg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.hero inner-column {
	padding: 260px 0px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.hero :is(h2, p) {
	text-align: center;
}

.hero h2 {
	text-transform: capitalize;
	max-width: 974px;
}

.hero p {
	max-width: 733px;
}


.s-hero13 {
	background-color: var(--color1);
	color: white;
}

.s-hero13 p {
	font-size: 20px;
}


@media (max-width: 600px) {

	.hero nav {
		flex-direction: column;
	}

	.hero nav .button {
		width: 100%;
	}

	.hero form {
		flex-direction: column;
		align-items: center;
	}

	.hero form .button02 {
		padding: 10px 20px;
		width: 50%;
	}

	.hero .email-input {
		width: 100%;
	}
}