.buttons nav {
	display: flex;
	gap: 25px;
}

.button {
	/*border: 1px solid var(--neutral-dark);*/
	background-color: var(--neutral-dark);
	color: var(--white);
	padding: 15px 40px;
	text-align: center;
}

.button:hover {
	background-color: var(--highlight);
	color: var(--white);
}

h2 + nav {
	margin-top: 25px;
}