.site-header {
	padding: 0;
}

.site-menu {
	padding: 10px 0px;
	background-color: var(--color1);
	color: var(--white);
}

.site-menu inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 0px;
}

.site-menu logo {
	display: block;
	padding: 0;
}

.site-menu logo a {
	display: block;
	padding: 0;
}

.site-menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px;
	gap: 25px;
}