.meet {

}

.meet ul.monsters {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

li.monster{
	border-radius: var(--corners);
	background-color: var(--white);
	/*border: 1px solid red;*/
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.03);
}

.meet ul.info {
	display: flex;
	flex-direction: column;
	gap: .75rem;
}

li.monster picture {
	border-radius: var(--corners);
}

div.swatch {
	background-color: var(--neutral);
	padding: 20px 10px;
}

.swatch.neutral-lighter {
	background-color: var(--neutral-lighter);
}

.swatch.neutral-light {
	background-color: var(--neutral-light);
}

.swatch.neutral {
	background-color: var(--neutral);
}

.swatch.neutral-dark {
	background-color: var(--neutral-dark);
}

.swatch.neutral-darker {
	background-color: var(--neutral-darker);
}