/* Should we pull in @fonts here? */
/* use px not pt (pt px) */
/*voice examples:  loud, attention, strong, calm, stout, micro, whisper, quiet*/
/*use voice classes instead of header levels for styling*/

html {
	font-family: 'Inter', sans-serif;
}

.loud-voice	{
	font-size: 64px /*clamp(36px, 5vw, 60px)*/;
	font-weight: bold;
}

.attention-voice	{
	font-size: 2rem;
	font-weight: normal;
}

.mid-voice {
	font-size: 1.5rem;
	line-height: 1.2;
}

:is(.eyebrow, .subheading) {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #757575;
}

.enhanced-heading h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
}

.module-heading {
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
}

.calm-voice, p {
	font-size: 1rem;
	line-height: 1.4;
	/*font-weight: light;*/
}

.quiet-voice {;
	font-size: .75rem;
	line-height: 1.4;
}

:is(.calm-voice, p ) em {
	font-style: italic;
}

:is(.calm-voice, p ) strong {
	font-weight: 700;
}

@media (max-width: 600px) {

	.loud-voice	{
		font-size: 45px;
	}

	.attention-voice	{
		font-size: 22px;
	}

	.mid-voice {
		font-size: 18px;
	}

}


/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

text-block + text-block {

}

h2 + p {
	margin-top: 20px;
}

h2 + ul {
	margin-top: 20px;
}

h1 + .attention-voice {
	margin-top: 10px;
}

figcaption {;
	font-size: .9rem;
	font-style: italic;
	opacity: 50%;
	text-align: center;
	margin-top: 5px;
	line-height: 1.2;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
