
call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
	padding: 100px /*top*/ 0/*right*/  120px /*bottom*/ 0vw /*left*/;
}

#sign-up call-to-action {
	gap: 60px;
}

call-to-action .heading {
	color: var(--color3);
}



call-to-action .button {
	margin-top: 20px;
}

#sign-up call-to-action .button {
	margin-top: 0px;
}

call-to-action .story {
	text-align: center;
}

#sign-up .story {
	/*border: 3px red solid;*/
	display: none;
}

.review-banner picture {
	max-width: 300px;
	/*border: 5px solid red;*/
}

.review-banner h2 + p {
     margin-top: 7px; 
}

/*.review-banner .button {
	display: none;
}*/

#wirecutter {
	opacity: .7;
}

#aec {
	opacity: .5;
	margin-top: 12px;
	max-width: 250px;
}

#editors-choice {
	display: flex;
	opacity: .5;
	height: 100px;
	object-fit: cover;
	
}