header.site-header {
	background-color: var(--white);
}

header inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 0px;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}