/*=============== BUTTON ===============*/
.button{
    display: inline-block;
    background-color: var(--black-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .25rem;
    font-size: var(--normal-font-size);
    text-transform: uppercase;
}