/*=============== LOGOS ===============*/
.logo{
    background-color: #fff;
    
    &__container{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        gap: 2.5rem 2rem;
        border-top: 1px solid var(--text-color-light);
        padding-top: 2.5rem;
    }
    &__img{
        width: 80px;
        mix-blend-mode: luminosity;
        opacity: .4;
        transition: .4s;

        &:hover{
            opacity: .8;
        }
    }
}