/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;

    &__title{
        position: relative;
        font-size: var(--h1-font-size);
        padding-left: 1.25rem;
        margin-bottom: 2.5rem;

        &::before{
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 3px;
            height: 20px;
            background-color: var(--first-color);
        }
    }
}
