.enhanced-heading {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.enhanced-heading :is(.eyebrow, .subheading) {
	line-height: 1.4;
}

@media (max-width: 600px) {
	.enhanced-heading :is(.eyebrow, h2, .subheading) {
		text-align: center;
	}

}