header {
	border-bottom: 1px solid hsla(127, 3%, 91%, 1.00);	
}
header inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*border: 3px solid green;*/

	padding: 20px 0px;
}

header .logo {
	max-width: 150px;
}

header nav {
	display: flex;
	gap: 20px;
}

header .right-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}