
articles-intro {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px
}

articles-intro header {
  margin-bottom: 40px;
}

articles-intro article-grid {
  display: grid;
  gap: 40px 20px;
}
