/* Style the list */
ul.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0px 0px;
  list-style: none;
  width: 600px;
  margin: 0px;
}

/* Display list items side by side */
ul.breadcrumbs li {
  /*display: inline;*/
  font-size: 16px;
}

ul.breadcrumbs a {
  padding: 12px 0px;
  /*border: 1px solid red;*/
}