main {
	position: relative;
	/*border: 3px solid green;*/
}

embellish-contain {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	/*border: 3px solid red;*/
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	pointer-events: none;
}

embellishment {
	display: block;
	position: sticky;
	bottom: 0px;
	/*border: 3px solid purple;*/
	padding: 12px;
	min-height: 300px;
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	text-orientation: mixed;
	color: var(--neutral);


}

.projects embellishment {
	right: 20px;
}

@media (max-width: 1000px){
	embellishment {
		display: none;
	}
}

@media (min-width: 700px){
	:is(.home) embellishment {
		display: block;
	}
}

@media (min-width: 850px){
	:is(.projects) embellishment {
		display: block;
	}
}

@media (min-width: 950px){
	:is(.projects) embellishment {
		display: none;
	}
}

@media (min-width: 900px){
	:is(.about) embellishment {
		display: block;
	}
}

@media (min-width: 1500px){
	:is(.projects) embellishment {
		display: block;
	}
}

@media (max-width: 1500px){
	:is(/*.projects,*/ .style-guide) embellishment {
		display: none;
	}
}

@media (max-height: 1250px){
	embellishment {
		display: none;
	}
}