footer {
	background-color: var(--color1);
	color: var(--white);

}

footer inner-column {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px 0px;
	gap: 20px;
}

footer social {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

footer a{
	fill: var(--white);
	transition: fill .5s;
}

footer a:hover{
	fill: var(--highlight);
	transition: fill .5s;
}

@media (max-width: 600px) {
	footer social {
		gap: 10px;
	}