/* P reset - Meyer reset */
@import 'preset.css';

/* S etup - Box sizing, links, and images */
@import 'setup.css';

/* S etings - Color definitions, corners, dev */
@import 'settings.css';
/*@import 'developer-styles.css';*/

/* S tructure - Display, inner-column, header/footer position */
@import 'structure.css';

/* T ypography - Fonts & spacing */
@import 'typography.css';

/* C omponents */
@import 'components/buttons.css';
@import 'components/forms.css';

/* S tuff (modules) */
@import 'modules/site-header.css';
@import 'modules/page-header.css';
@import 'modules/card-grid.css';
@import 'modules/breadcrumbs.css';
@import 'modules/footer.css';
@import 'modules/embellishment-text.css';
@import 'modules/image-buttons.css';

/* S ections and more stuff (pages) */
@import 'pages/home.css';
@import 'pages/style-guide.css';
@import 'pages/about.css';
@import 'pages/goals.css';
@import 'pages/resume.css';
@import 'pages/exercises.css';


/* Other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

main inner-column  {
	transform: translate(0px, -100px);
}

:is(.contact) main inner-column {
	transform: translate(0px, -80px);
}

:is(.project, .style-guide) main inner-column {
	transform: translate(0px, 0px);
}

text-block {

}

/* Inbox for styles to be moved to the correct place (a scratchpad) 
/* Theme styles could go here*/


