
quote-spotlight {
	display: block;

	padding-top: 6vh;
	padding-bottom: 6vh;
}

quote-spotlight blockquote p {
	position: relative;
	z-index: -1; /* NOTE for class */
	display: inline-block;
}

quote-spotlight blockquote p::before,
quote-spotlight blockquote p::after {
	font-size: 4em;
	line-height: 0;

	position: absolute;
	opacity: .2;
}

quote-spotlight blockquote p::before {
	content: '“';
	top: 0;
	left: 0;
	transform: translate(-120%, -50%);
}

quote-spotlight blockquote p::after {
	content: '”';
	right: 0;
	bottom: 0;
	transform: translate(50%, 0);
}

quote-spotlight figcaption {
	margin-top: 20px;
}

@media (min-width: 600px) {
	quote-spotlight {
		padding: 100px;
	}
}