/* keep breaking news attached to everything so styles used here dont bleed out onto other modules */

breaking-news {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
	/*gap: 75px;*/

}

breaking-news .text {
	display: flex;
	flex-direction: column;
	gap: 75px;
	padding-bottom: 75px;
}


breaking-news .articles {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

breaking-news .article {
	border-top: 2px solid gray;
}

breaking-news .gallery {
	display: flex;
	padding-bottom: 75px;
}

breaking-news .images {
	display: flex;
	flex-direction: column;
	gap: 20px;
}



@media (min-width: 600px) {
	
	breaking-news .page-header {
		max-width: 45ch;
	}

	breaking-news .articles {
		flex-direction: row;
		flex-wrap: wrap;
	}

	breaking-news .article {
		flex-basis: 47%;
	}

	breaking-news .images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 20px;
	}

	breaking-news .image {
		flex-basis: 47%;
	}
}




@media (min-width: 1200px) {
	breaking-news {
		flex-direction: row;
		gap: 25px;
	}

	breaking-news .text {
		flex-basis: 50%;
	}

	breaking-news .gallery {
		flex-basis: 50%;
		align-items: center;
		align-content: center;
	}

	breaking-news picture {
		aspect-ratio: 1/1;
	}

	breaking-news img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	breaking-news .images {
		gap: 15px;
	}

}
