/* break sizes */
/* 600px, 1000px */


/* site-wide */
@import "meyer-reset.css";
@import "setup.css";
@import "typography.css";
@import "dev.css";

/* components */

/* modules */
@import "layout1.css";
@import "layout2.css";






/* COLOR DEFINITION */

html {
	--canvasLight: white;
	--canvasDark: ;
	--inkDark: black;
	--inkLight: ;
	--color: hsla(208, 100%, 50%, 1.00); /*royal blue*/
	--highlight: hsla(323, 100%, 50%, 1.00); /*hot pink*/

/* SVG stroke width definition */
	--thin: 8;
	--thick: 12;
}